.copyright20233,
.privacy-policy7 {
  position: absolute;
  bottom: 16px;
  left: 40px;
  line-height: 22px;
}
.privacy-policy7 {
  left: 170px;
}
.container-105-child {
  position: absolute;
  top: 17px;
  left: 156.5px;
  width: 1px;
  height: 20px;
}
.container-1051,
.send-email1 {
  position: absolute;
  font-family: var(--font-inter);
  text-align: left;
}
.container-1051 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 54px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
}
.send-email1 {
  top: calc(50% - 14px);
  left: calc(50% - 47px);
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-white);
}
.button-23 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 104px;
  left: 40px;
  border-radius: var(--br-7xl);
  background-color: var(--color-royalblue-100);
  height: 52px;
  overflow: hidden;
  cursor: pointer;
}
.back-to-login {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 42px);
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
}
.button-24,
.frame142,
.vector {
  position: absolute;
  cursor: pointer;
}
.vector {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  height: 75%;
  width: 44.17%;
  top: 12.5%;
  right: 30.83%;
  bottom: 12.5%;
  left: 25%;
}
.button-24,
.frame142 {
  overflow: hidden;
}
.frame142 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 12px);
  left: calc(50% - 74px);
  width: 24px;
  height: 24px;
}
.button-24 {
  width: calc(100% - 80px);
  right: 40px;
  bottom: 40px;
  left: 40px;
  border-radius: var(--br-7xl);
  background-color: var(--color-gray-400);
  height: 52px;
}
.email,
.frame143 {
  position: absolute;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.frame143 {
  margin-top: 15px;
  border: 1px solid var(--color-lightslategray-100);
  background-color: var(--color-white);
  height: calc(100% - 28px);
  width: calc(100% + 1px);
  top: 28px;
  right: 0;
  bottom: 0;
  left: -1px;
  border-radius: var(--br-7xl);
  box-sizing: border-box;
}
.email {
  padding-left: 5px;
  top: 0;
  left: 0;
  line-height: 28px;
  color: var(--color-darkslategray-100);
  text-align: left;
}
.textbox-9 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 188px;
  left: 40px;
  background-color: var(--color-gray-400);
  height: 81px;
}
.enter-your-email,
.forgot-your-password {
  position: absolute;
  top: 296px;
  left: calc(50% - 188px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-lightslategray-100);
  text-align: center;
}
.forgot-your-password {
  margin: 0;
  top: 236px;
  left: calc(50% - 211px);
  font-size: var(--font-size-21xl);
  line-height: 56px;
  font-weight: 700;
  color: var(--color-darkslategray-200);
}
.image-99-icon {
  position: absolute;
  top: 40px;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.container-1061 {
  position: absolute;
  top: calc(50% - 338px);
  left: calc(50% - 296px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 596px;
  height: 659px;
}
.register-now1 {
  color: var(--color-royalblue-100);
}
.dont-have-an-container1 {
  position: absolute;
  top: 25px;
  right: 22px;
  line-height: 22px;
  cursor: pointer;
}
.softtools15 {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 54px;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.image-107-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.softtools-parent3 {
  position: absolute;
  top: 15px;
  left: 66px;
  width: 171px;
  height: 42px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-epilogue);
}
.container-107 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 72px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.reset-password2 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 900px;
  overflow: hidden;
}
