.copyright20232,
.privacy-policy6 {
  position: absolute;
  bottom: 16px;
  left: 40px;
  line-height: 22px;
}
.privacy-policy6 {
  left: 170px;
}
.container-108-child {
  position: absolute;
  top: 17px;
  left: 156.5px;
  width: 1px;
  height: 20px;
}
.container-108 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 54px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
.reset-password1 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 68.5px);
  line-height: 28px;
}
.button-25 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 104px;
  left: 40px;
  border-radius: var(--br-7xl);
  background-color: var(--color-royalblue-100);
  height: 52px;
  overflow: hidden;
  cursor: pointer;
}
.resend-email {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 40.5px);
  line-height: 28px;
}
.vector-icon22 {
  height: 75%;
  width: 44.17%;
  top: 12.5%;
  right: 30.83%;
  bottom: 12.5%;
  left: 25%;
  max-width: 100%;
  max-height: 100%;
}
.button-26,
.frame141,
.vector-icon22 {
  position: absolute;
  overflow: hidden;
}
.frame141 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 12px);
  left: calc(50% - 72.5px);
  width: 24px;
  height: 24px;
}
.button-26 {
  width: calc(100% - 80px);
  right: 40px;
  bottom: 40px;
  left: 40px;
  border-radius: var(--br-7xl);
  background-color: var(--color-gray-400);
  height: 52px;
  color: var(--color-gray-200);
}
.image-101-icon {
  position: absolute;
  top: 40px;
  left: 208px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.thanks-an-email {
  margin: 0;
}
.thanks-an-email-container {
  position: absolute;
  top: 296px;
  left: calc(50% - 276px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--color-lightslategray-100);
  text-align: center;
  display: inline-block;
  width: 554px;
}
.check-your-email {
  margin: 0;
  position: absolute;
  top: 236px;
  left: calc(50% - 163px);
  font-size: var(--font-size-21xl);
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray-200);
  text-align: center;
}
.container-109 {
  position: absolute;
  top: calc(50% - 338px);
  left: calc(50% - 296px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 596px;
  height: 560px;
}
.register-now {
  color: var(--color-royalblue-100);
}
.dont-have-an-container {
  position: absolute;
  top: 25px;
  right: 22px;
  line-height: 22px;
  cursor: pointer;
}
.softtools14 {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 54px;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.image-109-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.softtools-parent2 {
  position: absolute;
  top: 15px;
  left: 66px;
  width: 171px;
  height: 42px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-epilogue);
}
.container-1101 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 72px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.image-113-icon {
  position: absolute;
  top: 542px;
  left: 1045px;
  width: 374px;
  height: 340px;
  overflow: hidden;
}
.reset-password-confirmation {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
