.copyright2023,
.privacy-policy4 {
  position: absolute;
  bottom: 16px;
  left: 40px;
  line-height: 22px;
}
.privacy-policy4 {
  left: 170px;
}
.container-115-child {
  position: absolute;
  top: 17px;
  left: 156.5px;
  width: 1px;
  height: 20px;
}
.container-115 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 54px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
.log-in-now {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 48px);
  line-height: 28px;
}
.button-28 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 40px;
  left: 40px;
  border-radius: var(--br-7xl);
  background-color: var(--color-royalblue-100);
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.youve-successfully-completed {
  position: absolute;
  top: 296px;
  left: calc(50% - 163px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--color-lightslategray-100);
}
.password-changed {
  margin: 0;
  position: absolute;
  top: 236px;
  left: calc(50% - 178px);
  font-size: var(--font-size-21xl);
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.image-105-icon {
  position: absolute;
  top: 40px;
  left: 208px;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.container-116 {
  position: absolute;
  top: calc(50% - 338px);
  left: calc(50% - 298px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 596px;
  height: 482px;
}
.softtools12 {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 54px;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.group-div,
.image-112-icon {
  position: absolute;
  height: 42px;
}
.image-112-icon {
  top: 0;
  left: 0;
  width: 42px;
  overflow: hidden;
}
.group-div {
  top: 15px;
  left: 66px;
  width: 171px;
  cursor: pointer;
}
.container-117 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 72px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-epilogue);
}
.image-114-icon {
  position: absolute;
  top: 554px;
  left: 1066px;
  width: 353px;
  height: 356px;
  overflow: hidden;
}
.reset-password-successfully {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
