.send-email {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 47px);
  line-height: 28px;
}
.button-27,
.frame139 {
  position: absolute;
  border-radius: var(--br-7xl);
}
.button-27 {
  width: calc(100% - 80px);
  right: 40px;
  bottom: 40px;
  left: 40px;
  background-color: var(--color-royalblue-100);
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.frame139 {
  margin-top: 15px;
  border: 1px solid var(--color-lightslategray-100);
  background-color: var(--color-white);
  height: calc(100% - 28px);
  width: calc(100% + 1px);
  top: 28px;
  right: 0;
  bottom: 0;
  left: -1px;
  box-sizing: border-box;
}
.re-enter-password {
  padding-left: 5px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.textbox-10 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 124px;
  left: 40px;
  background-color: var(--color-gray-400);
  height: 81px;
  color: var(--color-darkslategray-100);
}
.div11 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 20px;
  line-height: 28px;
}
.frame-icon38 {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 21px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame140 {
  position: absolute;
  height: calc(100% - 28px);
  width: calc(100% + 1px);
  top: 28px;
  right: 0;
  bottom: 0;
  left: -1px;
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  border: 1px solid #8353e2;
  box-sizing: border-box;
}
.new-password {
  padding-left: 5px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  color: var(--color-darkslategray-100);
}
.textbox-11 {
  position: absolute;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 279px;
  left: 40px;
  background-color: var(--color-gray-400);
  height: 81px;
  color: var(--color-gray-200);
}
.please-kindly-set,
.reset-password {
  position: absolute;
  top: 296px;
  left: calc(50% - 113px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  text-align: center;
}
.reset-password {
  margin: 0;
  top: 236px;
  left: calc(50% - 145px);
  font-size: var(--font-size-21xl);
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.image-103-icon1 {
  position: absolute;
  top: 40px;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.container-112-child {
  position: absolute;
  top: -2.5px;
  left: 4px;
  width: 121px;
  height: 5px;
}
.container-112-inner,
.container-112-item,
.line-icon {
  position: absolute;
  top: -2.5px;
  left: 133px;
  width: 121px;
  height: 5px;
}
.container-112-inner,
.line-icon {
  left: 262px;
}
.line-icon {
  left: 391px;
}
.excellent {
  font-weight: 600;
  font-family: var(--font-urbanist);
  color: var(--color-royalblue-100);
}
.password-strength-excellent-container {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 22px;
  visibility: hidden;
}
.container-1111,
.container-1121 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.container-1121 {
  visibility: hidden;
  width: calc(100% - 80px);
  right: 40px;
  bottom: 225px;
  left: 40px;
  background-color: var(--color-gray-300);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  height: 38px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.container-1111 {
  top: calc(50% - 366px);
  left: calc(50% - 298px);
  background-color: var(--color-white);
  width: 596px;
  height: 750px;
}
.copyright20231,
.privacy-policy5 {
  position: absolute;
  bottom: 16px;
  left: 40px;
  line-height: 22px;
}
.privacy-policy5 {
  left: 170px;
}
.container-113-child {
  position: absolute;
  top: 17px;
  left: 156.5px;
  width: 1px;
  height: 20px;
}
.container-1131 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 54px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
.softtools13 {
  position: absolute;
  top: 3px;
  left: 54px;
  line-height: 36px;
}
.image-111-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.softtools-parent1 {
  position: absolute;
  top: 15px;
  left: 66px;
  width: 171px;
  height: 42px;
  cursor: pointer;
}
.container-114 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  height: 72px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-epilogue);
}
.reset-password-input-new-pas {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 956px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-lightslategray-100);
  font-family: var(--font-inter);
}
